{% extends 'base.html' %}

{% block content %}


{% for clothing in closet %}
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.mdl-card media {
  width: 100%;
}
</style>


<div class="demo-card-square mdl-card mdl-shadow--2dp">
        
  <div class="mdl-card media">
         <img src="{{clothing.image.url}}">       
        </div>
  <div class="mdl-card__supporting-text">
        {{clothing.name}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Delete
    </a>
  </div>
</div>

{% endfor %}


{% endblock %}
