.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin: 10px;
}

.mdl-card__title-text {
  color: #03A9F4;
  text-transform: capitalize;
  font-weight: bold;
}

.mdl-layout__drawer {
  background-color: white;
}

.mdl-navigation {
  background-color: rgba(255,255,255,1);
  margin: 0;
  padding: 0;
}

.mdl-navigation__link {
  background-color: rgba(255,255,255,1);
}