.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin: 10px;
}

.mdl-card__title-text {
  color: #03A9F4;
  text-transform: capitalize;
  font-weight: bold;
}

.mdl-layout__drawer {
  background-color: white;
}

.mdl-navigation {
  background-color: rgba(255,255,255,1);
  margin: 0;
  padding: 0;
}

.mdl-navigation__link {
  background-color: rgba(255,255,255,1);
}

i.material-icons {
  font-size: 42px;
}

.add-clothes {
  margin: 10px;
}

.mdl-card__title, .mdl-card__supporting-text {
  margin: 0 auto;
}

.home-card {
  width: 500px;
  height: 420px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.form-card {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  margin-top: 10px;
  color: black;
}

.form-card input {
  padding: 14px;
}

.register-card {
  width: 420px;
  height: 650px;
  margin: 0 auto;
  margin-top: 10px;
}

.register-card input {
  padding: 14px;
}