{% extends 'base.html' %}

{% load material_form %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {% form form=location_form %}{% endform %}
    <button type="button" onclick="getLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Get Location
      </button>
    <button type="submit" name="_submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Update</button>
</form>

<script>
var x = document.getElementById("id_latitude");
var y = document.getElementById("id_longitude");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.value = position.coords.latitude;
    y.value = position.coords.longitude;
}
</script>


{% endblock %}
