{% extends 'base.html' %}

{% load material_form %}

{% block content %}

<div class="mdl-grid">
<div class="mdl-card mdl-shadow--2dp form-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--expand">
    <h2>Location</h2>
  </div>
  <div class="mdl-card__supporting-text">
   <form method="POST">
    {% csrf_token %}
    {% form form=location_form %}{% endform %}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button type="button" onclick="getLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored left">
        Get Location
    </button>
    <button type="submit" name="_submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent right">Update</button>
  </div>
  </form>
</div>
</div>

<script>
var x = document.getElementById("id_latitude");
var y = document.getElementById("id_longitude");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.value = position.coords.latitude;
    y.value = position.coords.longitude;
}
</script>


{% endblock %}
