{% extends 'base.html' %}

{% block content %}

<!-- If the user is authenticate it shows the main features of the app -->
{% if user.is_authenticated %}
   <h1>Hello {{ user.first_name }}!</h1>
<!-- Weather information below -->

<!-- {{current_status}} -->
  <div class="row">
  {% if current_status == 'Clear' %}
  <div class="icon sunny">
    <div class="sun">
    </div>
  </div>
  {% elif current_status == 'Mist' %}
  <div class="icon cloudy">
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
  {% elif current_status == 'Clouds' %}
  <div class="icon cloudy">
    <div class="cloud"></div>
  </div>
  {% elif current_status == 'Snow' %}
  <div class="icon flurries">
    <div class="cloud"></div>
    <div class="snow">
      <div class="flake"></div>
      <div class="flake"></div>
    </div>
  </div>
  {% endif %}
  <h2 class="status">The Current Status: {{current_status}}</h2>
  <h2>The Current Temperature: {{current_temperature}}°F</h2>


<!-- Otherwise show them to login or register -->
{% else %}
   <p>Please Login or Register to use the app.</p>
   <p><a href="/login">Login</a></p>
   <p><a href="/register">Register</a></p>
{% endif %}

{% endblock %}
